@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { width: 100%; height:100%; overflow:auto; }

body {
	width: 100%;
	height:100%;
    font-family: 'Helvetica', sans-serif;
	background: #b8b8b8;
	color: #aaff58;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1.4px;

}
.login {
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:400px;
	height:400px;
}

.login h1 {
	color: #aaff58;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
	letter-spacing:1px;
	text-align:center;
}

input {
	width: 100%;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #aaff58;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

table {
	width: 100%;
}

th {
	padding: 15px;
	font-size: 18px;
	height: auto;
	width: auto;
}

tr, td {
	height: 100%;
	width: 100%;
	margin-bottom: 10px;
	font-size: 13px;
}
