<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>The Bjorker - Is the music inspiring?</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="header sticky sticky--top">

  <div class="grid">

    <nav class="navigation">
      <ul class="navigation__list navigation__list--inline">
        <li class="navigation__item"><a href="https://bjorker.herokuapp.com" class="is-active">Home</a></li>
        <li class="navigation__item"><a href="https://taupier.dev">Author</a></li>
        <li class="navigation__item"><a href="mailto:bjorker@taupier.dev">Contact</a></li>
      </ul>
    </nav>

  </div>

</header>

<main class="main">

  <div class="grid">
    <div class="login">
        <h1>The Bjorker</h1>
        <p>1. Select a Spotify playlist URI to use, put in box.</p>
        <p>2. Click Send button to analyze your tracks.</p>
        <p>3. Afterwards, use Predict button to check your tastes against Bjork's!</p>

         <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('analyze')}}" method="post">
            <label>
                <input type="text" name="yourPL" placeholder="Spotify playlist URI" required="required" />
            </label>
            <button type="submit" class="btn btn-primary btn-block btn-large">Send URI for Analysis</button>
        </form>

        <form action="{{ url_for('predict')}}" method="post">
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict for our queen!</button>
        </form>
     </div>

    <!--   Results   -->
     <div class="resulting">
         <p>{{ prediction_text }}</p>
         <br>
             <table>
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
            <!--        {% if col == link_column %}-->
            <!--        <td>-->
            <!--            <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">-->
            <!--                {{ row_ }}-->
            <!--            </button>-->
            <!--        </td>-->
            <!--        {% else %}-->
                    <td>{{row_}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
     </div>

  </div>
</main>

</body>
</html>
